* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* general */
body {
    display: relative;
}
a {
    list-style: none;
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: rgb(255, 255, 255);

}
li {
    list-style-type: none;
}
ol {
    margin: 0%;
    padding: 0%;
}

/* body */
    /* sticky */
.--fixed-bottom-right {
    position: fixed;
    right: 5px;
    bottom: 20px;
}

.sticky-icons--size {
    width: 60px;
    height: auto;
}

    /* body grid */
.body--grid-area {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
}
.header-area {
    grid-area: header;
}
.header-intro--grid {
    grid-area: header;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.7)
    ), url(../assets/img/section_a_home/intro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: auto;
    display: grid;
    grid-template-areas: "header-2"
    "intro-2";
    grid-template-rows: auto 1fr;
}


main, .main {
    grid-area: main;
    background: #f1f1f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.12' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
footer {
    grid-area: footer;
    background-color: #836e78;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23544074' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/* header */
.bg--white {
    background-color: rgba(36, 33, 33, 0.219);
    border-radius: 10px;
}


.primary_icons, .primary-icons {
    width: 30px;
    height: auto;
}

.navbar--custom-shadow:focus {
    border-bottom: rgb(22, 20, 20);
    box-shadow: 0px 10px 10px grey;
}

/* main */

.header-2 {
    grid-area: header-2;
}
.intro-2 {
    grid-area: intro-2;
}

.main__content {
    margin: 0%; 
    padding: 0%;
}

/* content-one */
/* no recuerdo como usar imagenes de fondo (arreglar después) */
.--bg-card-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../assets/img/section_a_home/content-one/viajes.jpg);
}
.--bg-card-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../assets/img/section_a_home/content-one/hotel.jpg);
}
.--bg-card-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../assets/img/section_a_home/content-one/carousel.jpg);
}
.--bg-card-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../assets/img/section_a_home/content-one/socio.jpg);
}

.--bg-card {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.--bg-card h2 {
    font-size: 40px;
}

/* img-card */

/* footer */

.footer__service-icon--custom {
    width: 60px;
    height: auto;
}


/* account */
.aside--sm-hidden {
    display: none;
}

.account__aside--custom {
    background-color: rgb(218, 130, 191);
    border: 2px solid rgb(202, 124, 177);
    border-radius: 10px 0px 0px 10px;
}

@media (min-width: 769px) {
    .aside--sm-hidden {
        display: block;
    }

    .sticky-icons--size {
        width: 80px;
        height: auto;
    }
    
    .--offcanvas-custom-size {
        border-radius: 30px;
        height: 97%;
        margin: 1% 2%;
    }

    .header-intro--grid {
        height: 700px;
    }

    .--bg-card {
        height: 400px;
        width: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .--bg-card:hover {
        width: 430px;
        height: 430px;
        transition: width 1s, height 1s;
    }
    .--bg-card h2 {
        font-size: 55px;
    }
}
