/* account */
.aside--sm-hidden {
    display: none;
}

.account__aside--custom {
    background-color: rgb(218, 130, 191);
    border: 2px solid rgb(202, 124, 177);
    border-radius: 10px 0px 0px 10px;
}
