@charset "UTF-8";
/* paleta de colores que me gustan */
/* mixins */
/* extends */
.button-pink-preset, .btn--pink {
  background-color: #fff0f7;
  border: 2px solid #ffbae4;
  border-radius: 20px;
}

/* body */
/* sticky */
.--fixed-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.sticky-icons--size {
  width: 60px;
  height: auto;
}

.--fixed-bottom-right {
  position: fixed;
  right: 5px;
  bottom: 20px;
}

/* body grid */
.body--grid-area {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

.header-area {
  grid-area: header;
}

.header-intro--grid {
  grid-area: header;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../../assets/img/section_a_home/intro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: auto;
  display: grid;
  grid-template-areas: "header-2" "intro-2";
  grid-template-rows: auto 1fr;
}

main, .main {
  grid-area: main;
  background: #f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.12' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

footer {
  grid-area: footer;
  background-color: #8f5873;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23544074' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* header */
.bg--white {
  background-color: rgba(36, 33, 33, 0.219);
  border-radius: 10px;
}

.primary_icons, .primary-icons {
  width: 30px;
  height: auto;
}

.navbar--custom-shadow:focus {
  border-bottom: rgb(22, 20, 20);
  box-shadow: 0px 10px 10px grey;
}

/* main */
.header-2 {
  grid-area: header-2;
}

.intro-2 {
  grid-area: intro-2;
}

.main__content {
  margin: 0%;
}

.content--bg {
  padding: 1%;
  background-color: #ffffff;
  border-radius: 10px;
}

/* card (sin colision sobre fixed-icons)*/
.--card-size {
  width: 18rem;
  height: 35rem;
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 10px 10px rgb(235, 235, 235);
  border: 2px solid rgb(219, 219, 219);
  overflow: hidden;
}

.--card-img {
  max-width: 100%;
  height: 45%;
  object-fit: cover;
  object-position: center;
}

.btn--pink:focus {
  color: #ff66c2;
  background-color: #ffcfe5;
  border: 2px solid #f7eff3;
  transition: 0.3s;
}

/* home */
/* query's home */
@media (min-width: 1024px) {
  .--fs-md-h1 {
    font-size: 3.5rem;
  }
  .--fs-md-sbttl {
    font-size: 1.5rem;
  }
}
/* content-one */
/* no recuerdo como usar imagenes de fondo (arreglar después) */
.--bg-card-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../../assets/img/section_a_home/content-one/viajes.jpg);
}

.--bg-card-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../../assets/img/section_a_home/content-one/hotel.jpg);
}

.--bg-card-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../../assets/img/section_a_home/content-one/carousel.jpg);
}

.--bg-card-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../../assets/img/section_a_home/content-one/socio.jpg);
}

.--bg-card {
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.--bg-card h2 {
  font-size: 40px;
}

.--card-comment {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  background-color: #ffffff;
}

/* patreon */
.logos {
  overflow: hidden;
  padding: 30px 0px;
}

.slide-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}
.slide-logo img {
  height: 50px;
}

/* viajes */
.big-card-section {
  height: 500px;
  background-color: #3e6d8a;
}

.slider-card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider-card img {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  filter: brightness(60%);
}

.control--size {
  width: 50px;
  height: 100%;
}

.comment--style {
  width: 90%;
  height: 45%;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  border: 1 solid grey;
  border-radius: 10px;
}
.comment--style p {
  margin: 0%;
  padding: 0%;
}

.carousel-caption h3 {
  color: yellow;
}
.carousel-caption p {
  opacity: 70%;
}

/* account */
.button--custom {
  width: 100%;
  padding: 0%;
  margin: 1rem 0%;
}

.account__aside--custom {
  border-radius: 10px;
}

.account__aside--custom, .account__aside--custom-right, .account__aside--custom-left {
  background-color: rgb(218, 130, 191);
  border: 2px solid rgb(202, 124, 177);
}

@media (min-width: 768px) {
  .account__aside--custom-left {
    border-radius: 10px 0px 0px 10px;
  }
  .account__aside--custom-right {
    border-radius: 0px 10px 10px 0px;
  }
}
.card--custom-left {
  border-radius: 0px 10px 10px 0px;
}

.card--custom-right {
  border-radius: 10px 0px 0px 10px;
}

/* contacts */
.--bg-pink {
  background-color: rgb(177, 142, 148);
}

/* footer */
footer {
  background-color: #8f5873;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23544074' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.footer__service-icon--custom {
  width: 60px;
  height: auto;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* general */
body {
  display: relative;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(247, 129, 168);
  transition: color 0.2s;
}

footer a:hover {
  color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}

ul {
  margin: 0%;
  padding: 0%;
}

.icon-card {
  width: 30px;
  height: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .icon-card {
    width: 50px;
  }
}
/* colors */
/* agregar mas tarde variables */
.--lightblue {
  background-color: #c1dee8;
}

.bg--container-pink {
  background-color: rgb(185, 207, 214);
}

.--bg-grey {
  background-color: #dddddd;
}

.--bg-dark-grey {
  background-color: #303030;
}

.bg--yellow {
  background-color: #eeda81;
}

/* query */
@media (min-width: 769px) {
  .aside--sm-hidden {
    display: block;
  }
  .sticky-icons--size {
    width: 80px;
    height: auto;
  }
  .--offcanvas-custom-size {
    border-radius: 30px;
    height: 97%;
    margin: 1% 2%;
  }
  .header-intro--grid {
    height: 700px;
  }
  .primary_icons {
    width: 55px;
  }
  .--bg-card {
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
  }
  .--bg-card:hover {
    width: 430px;
    height: 430px;
    transition: 1s;
  }
  .--bg-card h2 {
    font-size: 55px;
  }
}
/* display none/@query's */
.display--none-md {
  display: none;
}

@media (min-width: 768px) {
  .display--none-md {
    display: block;
  }
}
/* ads */
.banner--hr {
  width: 85%;
  background-color: #ff66c2;
  border-radius: 20px;
  overflow: hidden;
}

.banner--bg {
  background-image: url(../../../assets/img/internal-ads/banner_horizontal-bg.png);
  background-size: cover;
  background-position: right;
}

.banner--hr-sideimage {
  width: 100%;
  height: 105px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .banner--bg {
    background-image: url(../../../assets/img/internal-ads/banner_horizontal-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
}
/* service-canvas */
@media (min-width: 769px) {
  .rounded-md-top {
    border-radius: 10px 10px 0px 0px;
  }
}
.display-inline-custom {
  display: inline-flex;
  width: 100%;
}

.search--custom {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px 0px 0px 5px;
  border-color: rgb(201, 201, 201);
}

.search-button--custom {
  width: 30%;
  color: rgb(52, 48, 255);
  background-color: rgb(234, 233, 255);
  border-color: rgb(101, 100, 158);
  border-radius: 0px 10px 10px 0px;
}

.chat-service {
  height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-areas: "chat-info" "chat-panel" "chat-input";
  grid-template-rows: auto 1fr auto;
  border: 1px solid rgb(198, 246, 255);
  box-shadow: rgb(255, 198, 252) 0px 10px 30px;
  border-radius: 10px;
}

.chat-info {
  width: 100%;
  grid-area: chat-info;
  background-color: rgb(118, 171, 252);
}
.chat-info .chatbot-icon {
  overflow: hidden;
  background-color: rgb(95, 161, 161);
  border-radius: 30%;
}

.chat-panel {
  grid-area: chat-panel;
  background-color: #accfd1;
}
.chat-panel div .chatbot-message {
  margin: 3%;
  background-color: rgb(222, 255, 249);
  border-radius: 0px 10px 10px 30px;
}
.chat-panel div .client-message {
  margin: 3%;
  background-color: rgb(138, 209, 138);
  border-radius: 10px 0px 30px 10px;
}

.chat-input {
  grid-area: chat-input;
  background-color: rgb(118, 171, 252);
}
.chat-input label {
  width: 100%;
}
.chat-input label .client-comment--custom {
  width: 100%;
  padding: 20px;
  height: 30px;
  border-radius: 10px 0px 0px 10px;
}
.chat-input .btn-enter--custom {
  width: 100%;
  height: 100%;
  color: #47878d;
  border: 2px solid #237179;
  border-radius: 0px 10px 10px 0px;
  background-color: #accfd1;
}

/* ANIMATIONS/home */
/* one use per load */
.--kf-fade-in {
  opacity: 1;
  animation: FadeIn 2s;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.--kf-fade-in-delay-2s {
  opacity: 1;
  animation: FadeInDelay2s 4s;
}

@keyframes FadeInDelay2s {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* infinite / loop */
.--kf-fade-in-out-infinite {
  opacity: 0;
  animation: FadeInOut 2s infinite;
}

@keyframes FadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
